@import "./reset.scss";
@import "./locomotive.scss";
@import "./grid.scss";
@import "./typo.scss";

.page {
    max-width: 80%;
    margin: auto;
    font-size: 18px;
    border: 2px solid;
    p {
        margin-bottom: 30px;
    }
}

.mask {
    overflow: hidden;
}