@import "./reset.scss";
@import "./locomotive.scss";
@import "./grid.scss";
@import "./typo.scss";

.container {
    max-width: 500px;
    margin: auto;
    font-size: 18px;
    line-height: 28px;
    p {
        margin-bottom: 30px;
    }
}