@import url(https://fonts.googleapis.com/css?family=Italiana:regular);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body {
    font-family: "Poppins", sans-serif;
}

.title {
    font-family: "Italiana";
    font-size: clamp(40px, 14vw, 14vw);
    line-height: 12vw;
    font-weight: 100;

    .spacer {
        margin: 0 20px;
    }
}

.uppercase {
    text-transform: uppercase;
}

.txt-center {
    text-align: center;
}