.jobitem-year {
    font-size: 1.2vw;
}

.jobitem-position {
    font-size: 4vw;
}

.jobitem-company {
    font-size: 2rem;
}

.jobitem-link {
    display: inline-block;
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid;
}