
.main-nav-link {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
    // text-transform: uppercase;
    // font-weight: bold;

    p {
        transition: all 0.3s;
    }

    .top {
        position: relative;
    }

    .bottom {
        position: absolute;
        transform: translateY(50%);
        opacity: 0;
    }

    &:hover {
        .top {
            transform: translateY(-50%);
            opacity: 0;
        }

        .bottom {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}