.work-page {
    height: calc(100vh - 59px);
    margin-top: 59px;

    .inner-container {
        position: relative;
    }

    .work-image-container {
        overflow: hidden;
        position: absolute;
        opacity: 0.3;
        z-index: -1;
        img {
            object-fit: cover;
        }
    }
}