.cursor {
    width: 30px;
    height: 30px;
    background-color: white;
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 50;
    p {
        color: white;
        text-transform: uppercase;
        font-size: 12px;
    }
}